<!--<div id='admob_ad'></div>-->
<div id="waiting_spinner_div" style="width:100%;height:100%;left:0;top:0;bottom:0;right:0;position:fixed;z-index:10000"><br><br><center><div x-mojo-element="Spinner" id="waiting_spinner" style="margin:auto"></div></center></div>
<div style="min-height:7px"></div>
<div id="topics"></div>
<div style="width:100%;height:71px"></div>

<div id="pause" style="width:100%;height:20px;background-color:red;position:fixed;bottom:51px;text-align:center;font-size:14px;display:none;opacity:0.7">
	paused - scroll to top to resume
</div>

<div id="footer">
    <div class="palm-list">
        <div id="messageContainer" class='palm-row'>
            <div class="palm-row-wrapper textfield-group focused">
                <div class="title">
                    <div id="ActionButton" class="icon right empty">
                        <div id="SendButton" class="stuck sendButton" x-mojo-tap-highlight="immediate">
                        </div>
                    </div>
                    <div id="topictosearchfor" x-mojo-element="TextField" class="messageTextWidget">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>